body
{
    margin:0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h1
{
    font-size: 50px;
}
.h2
{
    text-align: center;
}
.name-highlight
{
    color: orange;
}
.first-half
{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-half img
{
    width:100%;
}
section
{
    height:600px;
}
.hire-me
{  
    text-decoration: none; 
    background-color:rgb(247, 101, 75);
    padding:25px 60px;
    border-radius: 10px;
    color :white;
    font-weight: 700px;
}


